@import url('style.css');
h1 {
margin-left:20px;
}
.menu-bar{
    opacity: 1;
    visibility: visible;

}
.scheme-text {
    font-size:18px;
    white-space: pre-line;
    width:95%;
    word-wrap: break-word;
    margin:25px;
    tab-size: 4;
    /*background-color:#dbc791;*/
    border-radius:6px;
}
.comment {
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    background-color:#ede5b7;
}

.edit-comment, .delete-comment {
    margin-top: 10px;
}

.calculate-button{
   display: flex;
   justify-content: center;
}

.video {
    width: 50%;
    height: auto
}
.video-block {
    text-align: center;
}

@media (max-width: 600px) {
    .video {
    width: 100%;
    height: auto
}

}