@import url('style.css');
h1 {
margin-left:20px;
}
.menu-bar{
    opacity: 1;
    visibility: visible;

}
/*.carousel_images{
    max-width:600px;
    height:auto;
}*/
.comment {
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    background-color:#ede5b7;
}

.edit-comment, .delete-comment {
    margin-top: 10px;
}

.calculate-button{
   display: flex;
   justify-content: center;
}

.video {
    width: 50%;
    height: auto
}
.video-block {
    text-align: center;
}

@media (max-width: 600px) {
    .video {
    width: 100%;
    height: auto
}

}