@import url('style.css');
h1 {
margin-left:20px;
}
.menu-bar{
    opacity: 1;
    visibility: visible;

}
.video-player {width:560px; height:315px}
.scheme-text {
    font-size:18px;
    white-space: pre-line;
    width:95%;
    word-wrap: break-word;
    tab-size: 4;
}
.text-block {
    background-color:#dbc791;
    border-radius:6px;

}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.comment {
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    background-color:#ede5b7;
}

.edit-comment, .delete-comment {
    margin-top: 10px;
}

.calculate-button{
   display: flex;
   justify-content: center;
}

.video {
    width: 50%;
    height: auto
}
.video-block {
    text-align: center;
}

@media (max-width: 600px) {
    .video-player {width:100%; height:315px}

    .parent {
        display: block;
    }

    .carousel_images {
        width: 100vw;
        margin-left: -20px;
    }

    .scheme-text {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    .carousel-inner {
        border-radius: 0 !important;
    }

}
}