{% extends "base.html" %}

{% block content %}
    {% if scheme_id == "scheme"%}
        <div class="choose-scheme text-center">
            <h5>Сначала выберите схему, которую хотите рассчитать</h5>
            <div class="btn-group d-inline-block">
              <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Схемы
              </button>
              <ul class="dropdown-menu text-center" style="
                  left: 50% !important;
                  transform: translateX(-50%) !important;
              ">
                  {%for scheme in scheme_list%}
                    <li><a class="dropdown-item" href="/calculate/{{scheme}}">{{scheme}}</a></li>
                  {% endfor %}
              </ul>
            </div>
        </div>

        <style>
            /* Для мобильной адаптации */
            @media (max-width: 768px) {
                .dropdown-menu {
                    position: fixed !important;
                    top: 50% !important;
                    left: 50% !important;
                    transform: translate(-50%, -50%) !important;
                }
            }
        </style>
    {%endif%}
    <div class="parent">
        <div class="image-div">
            <img src="/static/img/scheme/{{scheme}}.jpg" alt="Картинка схемы {{scheme}}">
        </div>
        <div class="parameters">
            <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="row-fields">
            <div class="size-field">
                <p><strong>1.</strong>
                    {{ form.width.label }}<br>
                    {{ form.width(class="form-control") }}<br>
                    {% for error in form.width.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
            </div>

            <div class="size-field">
                <p>
                    {{ form.height.label }}<br>
                    {{ form.height(class="form-control") }}<br>
                    {% for error in form.height.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
            </div>
        </div>

            <p><strong>2.</strong>
                {% for material in form.materials %}
                <tr>
                    <td>{{ material }}</td>
                    <td>{{ material.label }}</td>
                </tr>
                {% endfor %}
            </p>

            <p> <strong>3.</strong>
                {% for steklopaket in form.steklopakets %}
                <tr>
                    <td>{{ steklopaket }}</td>
                    <td>{{ steklopaket.label }}</td>
                </tr>
                {% endfor %}
            </p>

            <p> <strong>4.</strong>
                {% for color in form.handle_color %}
                <tr>
                    <td>{{ color }}</td>
                    <td>{{ color.label }}</td>
                </tr>
                {% endfor %}
            </p>

            <p> <strong>5.</strong>
                {% for model in form.handle_models %}
                <tr>
                    <td>{{ model }}</td>
                    <td>{{ model.label }}</td>
                </tr>
                {% endfor %}
            </p>
            <div> <p> <strong>6</strong></p>
                {{ form.color.label }}<br>
                {{ form.color() }}
                {% if form.color.errors %}
                    <div style="color: red;">{{ form.color.errors[0] }}</div>
                {% endif %}
            </div>

            <p>{{ form.calculate(type="submit", class="btn btn-primary") }}</p>
                <div class="message">{{message}}</div>
        </form>


        </div>
    </div>
{% endblock %}