{% extends "base.html" %}

{% block content %}
    <h1 style="text-align:center">Изменение пароля</h1>
    <div class="login-container">
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="input-wrapper">
                <p>
                    <!-- старый пароль -->
                    {{ form.old_password.label }}<br>
                    {{ form.old_password(class="form-control", type="password") }}
                    <i class="fa-solid fa-lock input-icon"></i><br>
                    {% for error in form.old_password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>

            </div>
            <div class="message">{{ old_password_message }}</div>

            <div class="input-wrapper">
                <p>
                    <!-- новый пароль -->
                    {{ form.new_password.label }}<br>
                    {{ form.new_password(class="form-control", type="password") }}
                    <i class="fa-solid fa-lock input-icon"></i><br>
                    {% for error in form.new_password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
            </div>
            <div class="message">{{ password_message }}</div>

            <div class="input-wrapper">
                <p>
                    <!-- новый повторенный пароль -->
                    {{ form.repeat_new_password.label }}<br>
                    {{ form.repeat_new_password(class="form-control", type="password") }}
                    <i class="fa-solid fa-lock input-icon"></i><br>
                    {% for error in form.repeat_new_password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
            </div>

            <p>{{ form.submit(type="submit", class="btn btn-warning") }}</p>
        </form>
    </div>
{% endblock %}