{% extends "base.html" %}

{% block content %}
<style>
    h5 {text-align:center}
</style>
<h5>Отзывы, которые оставляли пользователи:</h5>
<div class="comment_section">
        <div id="comments">
            {% if not comments%}
            <h5 style="padding:5px">Пока отзывов не оставляли...</h5>
            {%else%}
            {% for comment in comments %}
                <div class="comment mb-3" data-comment-id="{{ comment['id'] }}">
                    <div class="view-mode">
                        <p><strong>{{ comment.user_name }}:</strong>
                        <br><span class="comment-text">{{ comment.text }}</span><br>
                            <a href="/scheme/{{comment.scheme_name}}">Комментарий оставлен под схемой {{comment.scheme_name}}</a></p>
                        {% if current_user.is_admin%}
                             <a href="/delete_comment/{{comment.id}},{{comment.scheme_name}}" class="btn btn-sm btn-danger">Удалить</a>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
            {% endif %}

        </div>
    </div>

{% endblock %}