{% extends "base.html" %}

{% block content %}
<div class="contacts" style="float:left;margin:20px">
    <pre style="font-size:20px; font-family:Comic Sans MS,Bahnschrift Light, Century Schoolbook, Calibri">
    ООО ХС-Портал.Инжиниринг.
    Краснодарский край,
    Динской район,
    ст. Новотитаровская,
    ул. Крайняя 2/12.
    <b>тел.: +7(918)999-99-99</b>
    <b>email: portal@hs_portal.biz</b>
</pre>
</div>
<div>
    <img src="https://static-maps.yandex.ru/v1?ll=39.011488,45.257985&z=17&apikey=f3a0fe3a-b07e-4840-a1da-06f18b2ddf13&pt=39.011488,45.257985,pm2rdm" alt="фото на карте">
</div>
<div class="parent">

</div>
{% endblock %}