{% extends "base.html" %}

{% block content %}
<div class="contacts" style="float:left;margin:20px">
    <pre style="font-size:20px; font-family:Comic Sans MS,Bahnschrift Light, Century Schoolbook, Calibri">
    ООО "ХС-Портал.Инжиниринг"
    Краснодарский край,
    Динской район,
    ст. Новотитаровская,
    ул. Крайняя 2/12.
    <b>тел.: +7(918)999-99-99</b>
    <b>email: portal@hs_portal.biz</b>
</pre>
</div>
<div>
    <img src="/static/img/contacts.png" alt="фото на карте">
</div>

{% endblock %}