{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="profile-container">
    <div class="option-section">

        <a class="btn btn-warning" href="/profile">Профиль</a>
        <a class="btn btn-warning" href="/profile/orders/{{current_user.id}}">Расчеты</a>
        <a class="btn btn-warning" href="/calculate/scheme">Рассчитать</a>
        {% if current_user.is_admin %}
             <a class="btn btn-warning" href="/admin">Админ панель</a>
        {% endif %}
        <a class="btn btn-danger" href="/logout">Выйти</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" >
            Удалить аккаунт
        </button>

    </div>
    {% block main_content %}
    <div class="user-data">
        <h1>Email: {{email}}</h1>
        <h1>Пароль: <a class="btn btn-warning" href="/change_password/{{current_user.id}}" style="margin:5px">Изменить пароль</a></h1>
    </div>
    {% endblock main_content %}

</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить аккаунт? Это действие нельзя отменить!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <form action="{{ url_for('delete_account', user_id=current_user.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger">Удалить навсегда</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}