{% extends "base.html" %}

{% block content %}

<div id="scheme-group" class="scheme-group">
    <h2> {{hs_info}}</h2>
    {% for imgs in scheme_images %}
        {% set cur_tuple = loop.index - 1 %}
        <div class="image-container">
            {% for i in imgs %}
            {% set scheme_id =  i.split('.')[0] %}
            <a href="/scheme/{{ scheme_id }}">
                <img src="/static/img/scheme/{{ i }}" id="{{ i }}" class="scheme-image" alt="схема {{ scheme_id }}">
            </a>
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock %}