{% extends "base.html" %}

{% block content %}
{% if current_user.is_admin%}
<div class="row justify-content-center">
    <a class="btn btn-warning" href="/admin/add_project" style="width:200px;margin-right:20px">Добавить проект</a>
    <a class="btn btn-warning" href="/admin/edit_project" style="width:200px">Изменить проект</a>
</div>
{% endif %}
{% if projects_dict and projects_titles%}
    {% for project in projects_dict.keys()%}
        <div class="project_content">
            <div class="project-title">
                <h1> {{projects_titles[loop.index - 1]['name']}}</h1>
            </div>

            <div class="project-body">
                <div class="carousel-container">
                    <div id="carouselExampleAutoplaying{{loop.index}}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" >
                            {% for img in projects_dict[project] %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{img}}"
                                     class="d-block mx-auto img-fluid"
                                     style="max-height: 600px; width: 100%">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying{{loop.index}}"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying{{loop.index}}"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="project-text">
                    <div class="text-block">
                        {{project_text_dict[project] | safe}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
<h1 style="text-align:center;">Мы пока не загрузили проекты сюда...</h1>
{% endif %}
{% endblock %}